<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafes Transactions</title>
    <style>
      * {
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
      }
      img {
        width: 100%;
        max-width: 3rem;
      }

      h1 {
        text-transform: uppercase;
        text-align: center;
      }

      table {
        width: 100%;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 5px;
        padding-right: 5px;
      }
      th {
        text-transform: uppercase;
      }
      .text-center {
        text-align: center;
      }

      .btn-wrap {
        display: grid;
        place-items: center;
        margin-top: 1rem;
      }
      .header-container {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <div id="pdf">
      <div class="header-container">
        <h1>TUNTUTAN PEMBERIAN BANTUAN <%=fundType%> (eKupon@UniSZA) PADA <%=date?.from %> HINGGA <%=date?.to %></h1>
        <img
        src="/public/assets/logo.png"
        alt="UniSZA" />
      </div>
      <table id="tf">
        <tbody>
          <tr>
            <td>BIL</td>
            <td>NAMA SYARIKAT</td>
            <td>ALAMAT PREMISA</td>
            <td>NAMA PEMILIK/PENGURUS</td>
            <td>NO TELEFON</td>
            <td>AKAUN BANK</td>
            <td>NAMA BANK</td>
            <td>TRANSAKSI</td>
            <td>JUMLAH(RM)</td>
          </tr>
          <% transaction.forEach((tf, i)=> { %>
          <tr>
            <td class="text-center"><%=i + 1%></td>
            <td><%=tf?.cafeName%></td>
            <td><%=tf?.premise%></td>
            <td><%=tf?.name%></td>
            <td class="text-center"><%=tf?.phoneNo %></td>
            <td class="text-center"><%=tf?.accountNo %></td>
            <td class="text-center"><%=tf?.bank %></td>
            <td class="text-center"><%=tf?.totalTransaction %></td>
            <td class="text-center"><%=tf?.totalAmount %></td>
          </tr>
          <% }); %>
          <tr>
            <td colspan="6"></td>
            <td class="text-center" style="font-weight: bold;">JUMLAH</td>
            <td class="text-center" style="font-weight: bold;"><%=total.totalTransaction%></td>
            <td class="text-center" style="font-weight: bold;"><%=total.totalAmount%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-wrap">
      <button type="button" onclick="genPDF()">Download PDF</button>
    </div>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.6.0/dist/jspdf.plugin.autotable.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.js"
      integrity="sha512-sn/GHTj+FCxK5wam7k9w4gPPm6zss4Zwl/X9wgrvGMFbnedR8lTUSLdsolDRBRzsX6N+YgG6OWyvn9qaFVXH9w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script>
      function genPDF() {
        const doc = new jspdf.jsPDF({ orientation: "l" });
        var xOffset = doc.internal.pageSize.width / 2

        // Simple html example
        doc.addImage(
          "/public/assets/logo.png",
          "png",
          245,
          8,
          11,
          15,
          "UniSZA",
        );
        doc.setFontSize(11);
        doc.text("TUNTUTAN PEMBERIAN BANTUAN <%=fundType%> (eKupon@UniSZA) PADA <%=date?.from %> HINGGA <%=date?.to %>", xOffset, 20, { align:'center' });
        doc.autoTable({
          html: "#tf",
          startY: 25,
          styles: {
            textColor: [0, 0, 0],
            lineColor: [0, 0, 0],
          },
          theme: "grid",
          columnStyles: {
            0: {
              halign: "center"
            },
            4: {
              halign: "center"
            },
            5: {
              halign: "center"
            },
            6: {
              halign: "center"
            },
            7: {
              halign: "center"
            },
            8: {
              halign: "center"
            },
          },
        });

        doc.save("TUNTUTAN PEMBERIAN BANTUAN <%=fundType%> (eKupon@UniSZA) (<%=date?.from %> - <%=date?.to %>).pdf");
      }
    </script>
  </body>
</html>
